/* direction nav */
.flex-direction-nav { *height: 0; position: absolute; top: 10px; right: 10px; z-index: 4; }
.flex-direction-nav li { float: left; margin-left: 4px; }
.flex-direction-nav li:first-child { float: left; }
.flex-direction-nav li:last-child { float: right; }
.flex-direction-nav a { background: rgba(0,0,0,0.7); opacity: 0.6; position: relative; width: 40px; height: 40px; margin: 0 0 0; display: block; cursor: pointer; text-indent: -999px; overflow: hidden;
-webkit-transition: all .3s ease; transition: all .3s ease;
-webkit-border-radius: 3px; border-radius: 3px; }
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 0.8; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default; }

/* direction nav arrows */
.flex-direction-nav a:before { font-family: FontAwesome; font-size: 20px; line-height: 24px; position: absolute; text-align: center; left: 0; right: 0; top: 9px; text-indent: 0; }
.flex-direction-nav .flex-next:before { content:"\f054"; }
.flex-direction-nav .flex-prev:before { content: "\f053"; }

/* control nav */
.flex-control-nav { width: 100%; position: absolute; bottom: -30px; text-align: center; }
.flex-control-nav li { margin: 0 3px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-nav li a { background: rgba(0,0,0,0.15); width: 10px; height: 10px; display: block; cursor: pointer; text-indent: -999px; overflow: hidden;
-webkit-border-radius: 100%; border-radius: 100%; }
.flex-control-nav li a:hover { background: rgba(0,0,0,0.15); }
.flex-control-nav li a.flex-active { background: rgba(0,0,0,0.25); cursor: default; }

.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }
.flex-control-thumbs img:hover { opacity: 1; }
.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }

.flex-clickthrough {
	pointer-events: none;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: .7; right: 0; }
  .flex-direction-nav .flex-next { opacity: .7; right: 0; }
}

.flexslider:not(.no-preview) .slides > li:first-child {
	display: block;
	-webkit-backface-visibility: visible;
}

.flex-direction-nav li {
    list-style: none !important;
}

.flex-direction-nav a {
	opacity: 1.0;
}

.flex-direction-nav a:hover {
	color: #FFF;
}

.flexslider {
	margin-bottom: 20px;
	background-color: rgba(151,151,151,0.2);
	border: 0;
}

.full-width-widget .flexslider {
	margin-bottom: 0px;
}

.flexslider ul {
	margin: 0;
}

.flexslider img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slides {
	z-index: 2;
}

.flex-caption {
	background-color: #333;
	color: #ccc;
	padding: 5px 10px;
}

#carousel li {
	cursor: pointer;
}

#slider-width {
	width: 100%;
}